@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fffbf8; 
}

.hero {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 24, 2);
    background-repeat: no-repeat;
    max-width: 200;
    
}
.container{
max-width: 2100px;
margin: 0 auto;
}
.logo{
    height: 160px;
    width: 155px;
}
.hero h1 {
    font-size: 60px;
    margin: 0;
    color: #fceeda;
    font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-size: 120px;
  font-style: normal;
}
@media screen and (max-width:800px){
  .hero h1 {
    font-size: 80px;}
  }
  @media screen and (max-width:600px){
    .hero h1 {
      font-size: 60px;}
    }
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    font-size: 30px;
    text-decoration-line: none;
    color: #0e0e0e;
    font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  max-width: 2100px;
}
.nav-one{
display: inline-block; 
    text-decoration: none;
    color: rgb(51, 27, 2);
    transition: transform 0.2s ease-in-out;
}
.nav-one:hover{
transform: scale(1.1);
}
.nav-two{
display: inline-block; 
    text-decoration: none;
    color: rgb(51, 27, 2);
    transition: transform 0.2s ease-in-out;
}
.nav-two:hover{
transform: scale(1.1);
}
.nav-th{
display: inline-block; 
    text-decoration: none;
    color: rgb(51, 27, 2);
    transition: transform 0.2s ease-in-out;
}
.nav-th:hover{
transform: scale(1.1);
}

.text-side {
  display: flex; 
  justify-content: center; 
  align-items: center;
flex-wrap: wrap;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  font-style: normal; 
  font-size: 36px;         
}     
.text-element{
   
    text-decoration: none;
    color: rgb(51, 27, 2);
    transition: transform 0.2s ease-in-out;
    margin: 0 100px;
}
.text-element:hover{
    transform: scale(1.1);
}
.image-block-1{
  width: 400px;
  height: 400px;
  border-radius: 30px;
  /*position:  relative;
  float: right;
  margin-right: 100px;
  margin-bottom: 100px;*/
}

.spisok-block-header {
    line-height: 1.2;
    color: rgb(51, 27, 2);
    font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  text-align: center;
}

.spisok-block{
  display: flex; 
  justify-content: space-around;
  text-align: center;
  color: rgb(51, 27, 2);
  font-family: "Montserrat Alternates", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 25px;
min-width: 200px;
flex-wrap: wrap;
}
.spisok-block-item{
  max-width: 400px;
}
.img-cat{
  width: 50px;
  height: 50px;
}
.nav-one-hed{
  display: inline-block; 
  text-decoration: none;
  color: rgb(51, 27, 2);
  transition: 0.2s ease-in-out;
}
.nav-one-hed:hover{
  transform: scale(1.1);
}
.nav-two-hed{
  display: inline-block; 
  text-decoration: none;
  color: rgb(51, 27, 2);
  transition: 0.2s ease-in-out;
}
.nav-two-hed:hover{
  transform: scale(1.1);
}
.nav-th-hed{
  display: inline-block; 
  text-decoration: none;
  color: rgb(51, 27, 2);
  transition: 0.2s ease-in-out;
}
.nav-th-hed:hover{
  transform: scale(1.1);
}
main {
    margin: 40px auto;
    max-width: 1500px;
    padding: 0 20px;
}
@keyframes fadeIn {
  from {
  opacity: 0;
 }
  to {
  opacity: 1;
 }
 }
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    gap: 40px;
    animation: fadeIn 2s ease-in forwards;
    flex-wrap: wrap;
}
.revers {
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    gap: 40px;
    animation: fadeIn 2s ease-in forwards;
    flex-wrap: wrap;
}
.text {
    flex: 1;
    font-size: 30px;
   font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(44, 24, 2)
}
.image-box {
    flex: 1;
    text-align: center;
}
.image-box img {
    width: 400px;
    height: 400px;
    max-width: 500px;
    border-radius: 30px;
}
.footer-contact{
  flex: 1;
    font-size: 20px;
   font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(44, 24, 2)
}
.ft-email{
  flex: 1;
  font-size: 18px;
 font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(44, 24, 2)
}
.ft-tel{
  flex: 1;
  font-size: 18px;
 font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(44, 24, 2)
}
.container {
  max-width: 400px;
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 50px;
}

.card-img-wrap {
  border-radius: 30px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-title{
  color: rgb(44, 24, 2);
  font-size: 40px;
  margin-top: 100px;
   font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}
.about-our{
  color: rgb(44, 24, 2);
  font-size: 35px;
   font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  animation: fadeIn 1s ease-in forwards;
  margin-top: 50px;
}
.subtitle{
   color: rgb(44, 24, 2);
  font-size: 25px;
   font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  margin-bottom: 25px;
  animation: fadeIn 1s ease-in forwards;
}
.title-cat{
  color: rgb(44, 24, 2);
  font-size: 30px;
  margin-top: 8px;
   font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}
.cat-about{
  color: rgb(44, 24, 2);
  font-size: 20px;
  margin-top: 8px;
   font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}
.action-btn {
  margin-top: 30px;
  background:rgb(44, 24, 2);
  border: none;
  padding: 15px 30px;
  border-radius: 20px;
  color:#fce9cf;
  cursor: pointer;
  width: 100%;
   font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 20px;
   transition: 0.2s ease-in-out;
  width: 400px;
  text-align: center;
}
.action-btn:hover{
   transform: scale(1.1);
}
.cat-adoption-form{
  color: rgb(44, 24, 2); 
  border-bottom: 2px solid ;
  padding-bottom: 10px;
  margin-top: 25px;
   font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}
.cat-adoption-form h3 {
  color: rgb(44, 24, 2); 
  border-bottom: 2px solid #fce9cf;
  padding-bottom: 10px;
  margin-top: 60px;
   font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
font-size: 30px;
}
.form-adoption{
  color: rgb(44, 24, 2); 
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 25px;
}
.cat-adoption-form h1{
  color: rgb(44, 24, 2); 
  border-bottom: 2px solid #fce9cf;
  margin-top: 10px;
   font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 40px;
}
.submit-btn {
 
  width: 100%;
  padding: 18px;
  border-radius: 40px;
  background-color:rgb(44, 24, 2);
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 20px;
  color:#fce9cf;
  transition: 0.2s ease-in-out;
  width: 400px;
}
.submit-btn:hover{
   transform: scale(1.1);
}

.p-button{
  text-align: center;
  margin: 0 auto;
}

.form-button{
  text-align: center;
  margin: 0 auto;
}














































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































